
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Arial', sans-serif;
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.contact-section {
  background: black;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.2);
  text-align: center;
  max-width: 600px;
  width: 90%;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: goldenrod;
  letter-spacing: 2px;
}


.contact-link {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  margin: 10px 0;
  display: inline-block;
  transition: color 0.3s;
}

.contact-link:hover {
  color: goldenrod;
}


.social-links {
  margin: 20px 0;
}

.social-icon {
  font-size: 20px;
  margin: 10px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s, transform 0.2s;
}

.social-icon:hover {
  color: goldenrod;
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: black;
  color: white;
  margin-top: 40px;
  font-size: 16px;   
  letter-spacing: 1px; 
}

footer a {
  color: #DAA520; /* goldenrod link */
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}